.card {
  border: 0.5px solid rgb(226, 225, 225);
  border-radius: 15px;
  padding: 20px;
  box-shadow: 1.2px 1.2px 1.2px rgb(226, 225, 225);

  a {
    text-decoration: none;
    color: black;
  }

  img {
    height: 150px;
    width: 200px;
    object-fit: cover;
  }
}

.card:hover {
  border: 0.5px solid rgba(149, 227, 149, 0.8);
  box-shadow: 1.2px 1.2px 1.2px rgba(149, 227, 149, 0.8);
}
