.product-page {
  .product-content {
    margin-left: 200px;
    margin-right: 200px;
  }

  img {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }

  h1 {
    margin-top: 30px;
    margin-bottom: 20px;
    // margin-left: 50px;
    // margin-right: 50px;
  }

  h2 {
    margin-left: 50px;
    margin-bottom: 20px;
    color: red;
  }

  p {
    font-weight: 400;
    font-size: large;
    margin-bottom: 20px;
    // margin-left: 50px;
    inline-size: 700px;
    overflow-wrap: break-word;
  }

  span {
    font-weight: 700;
    font-size: xx-large;
    // margin-right: 50px;
  }

  #category {
    color: red;
    font-size: large;
  }

  .title {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: baseline;
    align-content: stretch;
  }

  .category {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: baseline;
    align-content: stretch;
  }
}
